#v1{
    max-height: 600px;
    overflow-y: scroll;
    margin: 0 0 20px 0;
}

table{
    padding: 0 0 5px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    margin: 10px;
    border-collapse: collapse;
    background-color: white;
}
table tr th{
    padding: 5px;
    color: white;
    background-color: rgba(127, 127, 127, 1);
    font-family: sans-serif;
}
table tr.head{
    border-radius: 5px 5px 0 0;
}
table tr.head th:first-child{
    border-radius: 5px 0 0 0;
}
table tr.head th:nth-last-child(1){
    border-radius: 0 5px 0 0;
}
table tr th span{
    font-weight: normal;
}
table tr td{
    padding: 5px 0px;
    text-align: center;
}
table tr td button{
    padding: 5px;
    margin: auto 5px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    cursor: pointer;
}
table tr td a{
    text-decoration: none;
}
.tr1{
    background-color: rgba(127, 127, 127, 0.1);
}
.tr2{

}

@media screen and (max-width: 1240px) {
    #visual{
        width: 100%;
        margin: 0 0 0 10px;
    }
    #param{
        display: none;
    }
}